
#logo{
	width: 150px;
	}

#window{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Abel;
}

#ulist{
	width: 100%;
	padding: 0;
	}

#ulist > li{
	display: block;
	width: 100%;
	}

.menu{
	width: 100%;
	padding: 10px;
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 14px;
	}

.article{
	width: 100%;
	padding: 10px;
	}
.iptv{
	width: 100%;
	}

#agrandir{
	display: block;
	}


#ulist{
	display: none;
	}
